<div class="row">
  <strong><em>Times in BST / UTC</em></strong>
  <div class="col-md-6">
    <h3>Day 1 - May 5th</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>13:00</td>  <td>Automating tasks with the Unix shell</td> </tr>
      <tr> <td>15:00</td>  <td>Break</td> </tr>
      <tr> <td>15:30</td>  <td>Automating tasks with the Unix shell (cont.)</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - May 6th</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Version Control with Git & GitHub</td> </tr>
      <tr> <td>15:00</td>  <td>Break</td> </tr>
      <tr> <td>15:30</td>  <td>Version Control with Git & GitHub (cont.)</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3 - May 9th</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Programming with Python</td> </tr>
      <tr> <td>15:00</td>  <td>Break</td> </tr>
      <tr> <td>15:30</td>  <td>Programming with Python (cont.)</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 - May 10th</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Programming with Python (cont.)</td> </tr>
      <tr> <td>15:00</td>  <td>Break</td> </tr>
      <tr> <td>15:30</td>  <td>Programming with Python (cont.)</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 5 - May 11th</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Programming with Python (cont.)</td> </tr>
      <tr> <td>15:00</td>  <td>Break</td> </tr>
      <tr> <td>15:30</td>  <td>Programming with Python (cont.)</td> </tr>
      <tr> <td>16:50</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
